@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  #mainSidebar.sidebar-collapsed {
    margin-left: -18rem !important;
    opacity: 0 !important;
    pointer-events: none;
  }
}

